 <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
      <li><a href="/blogone/" title="Singing Nebula">Singing Nebula</a></li>
      <li><a href="/blogtwo/" title="Arrival at Kepler">Arrival at Kepler</a></li>
    </ul>
  </nav>